.block_talkto {
    width:300px;
    margin: 0 auto;
    right: 15px;
    top:28px;
}

.block_talkto .panel-box p{
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    padding-top: 10px;
    text-align: right;
}

.block_talkto .text-offline{
    color: #FF4647;
}

.block_talkto .text-online{
    color: #65AB66;
}

.block_talkto .icon-editbox{
    padding-right: 5px;
    margin-top: 3px;
    color: white;
}

.block_talkto .modal-perfil {
    width:500px;
    height:auto;
    position: fixed;
}

.block_talkto .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.block_talkto .btn:hover{
    color: black;
    background: white;
}