.block_talkto {
    width:300px;
}

.block_talkto .panel-box p{
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    padding-top: 10px;
    text-align: right;
}

.block_talkto .icon-editbox{
    padding-right: 5px;
    margin-top: 3px;
    color: white;
}

.block_talkto .modal-perfil {
    width:500px;
    height:auto;
    position: fixed;
}

.block_talkto .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}